.row-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.txt-lable {
    width: 200px;
}

.form-check {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-group {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-direction: column;
    margin: auto;
}


.btn-group a {
    margin-bottom: 15px;
    margin-top: 30px;
}

.btn-group1 a {
    margin-bottom: 50px;
}

.btn-group2 a {
    margin-bottom: 15px;
}

header {}

header img {
    width: 100%;
}

body {
    background-image: url(../images/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
}

.container {
    width: 100% !important;
    /* background-image: url(../images/bg2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 133.5px) !important;
}

.logo img {
    width: 100%;
}

.time-match {
    position: absolute;
    left: 0;
    width: 500px;
    margin-top: 20px;
}