@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body{
    background-image: url('../images/bg-image.jpg');
    color: white!important;
    font-weight: bold;
}
.list-link a{
    color: white;
    font-weight: bold;
}

.logo img {
    width: 100%;
    position: absolute;
    top: 0;
}

main{
    margin-top: 135px !important;
    backdrop-filter: blur(2px);
    height: calc(100vh - 135px);
}
