.row-item{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.txt-lable{
    width: 200px;
}
.form-check{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-group{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.btn-group button{
    margin-bottom: 15px;
}