.row-item{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.txt-lable{
    width: 200px;
}
.form-check{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-group{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.btn-group button{
    margin-bottom: 15px;
}

header{
    margin-top: 130px;
}

header img{
    width: 100%;
}
body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-image: url(../images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}