body {
    background-image: url(../bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding: 10rem 0 3rem;
}
#txtDiaChiVi::placeholder {
    color: #fff;
}
#articleWrapper {
    width: 100%;
    height: 400px;
}
.bg-yellow {
    background-color: rgb(255, 225, 80, .9) !important;
}
.bg-yellow-dark {
    background-color: rgba(222, 167, 0, .85) !important;
}
.bg-opa-30 {
    background-color: rgba(255, 255, 255, .3);
}